<h1>Hivemind</h1>

<form action="/" method='post'>
  <label for="question">
    <input type="text" name="name" value="What do you want to ask?">
  </label>
   <input type="submit" name="" value="Create a hive">
</form>

